.input-box{
  position: relative;
  left : 40px;
}

input#inputNote[type="text"] {
  background-color: black;
  font-size : 25px;
  font-family: 'Trebuchet MS';
  color :white;
  height : 75px;
  width: 40%;
  padding: 15px 22px;
  margin: 20px 5px;
  box-sizing: border-box;  
}

.create-note-button {
  padding : 15px 32px;
  text-align : center;
  color : white;
  background-color : red;
  border-color: white;
}

.input-box input::-webkit-input-placeholder {
  color:white !important;
  font-family : Copperplate Gothic Light;
}