.input-box{
  position: relative;
  left : 40px;
}

input#inputNote[type="text"] {
  background-color: black;
  font-size : 25px;
  font-family: 'Trebuchet MS';
  color :white;
  height : 75px;
  width: 40%;
  padding: 15px 22px;
  margin: 20px 5px;
  box-sizing: border-box;  
}

.create-note-button {
  font-family : Bahnschrift;
  padding : 20px 32px;
  text-align : center;
  color : white;
  background-color : #3498db;
  border-color: white;
}

.input-box input::-webkit-input-placeholder {
  color:white !important;
  font-family : Copperplate Gothic Light;
}

.close-new-note-button {
  background-image: url('../images/close-img.png');
  background-size : cover;
  height : 30px;
  width : 30px;
  position : relative;
  right : 175px;
  bottom : 20px;
}